 {{> head }}
 {{> navbar }}
  
  <div class="row">
      <div class="col-8">
            <h1>Jeep</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quos quasi obcaecati enim officiis excepturi possimus facilis pariatur illum eum repellendus ullam consequuntur ipsa officia sunt, reprehenderit in. Tempora, quidem!</p>
      </div>

      <div class="col-4">
          <img src="/assets/img/jep.jpg" class="img-thumbnail">
      </div>

  </div>

{{> footer }}


  